* {
  padding: 0;
  margin: 0;
  border-box: box-sizing;
}

header {
  width: 100%;
  height: 50px;
  background-color: #87CEEB;
  border-bottom: 3px solid black;
}

body {
  width: 100%;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  background-color: #DAF5F0;
}

body > main {
  flex: 1 0 auto;
}

footer {
  width: 100%;
  background-color: #87CEEB;
  border-top: 3px solid black;
}
