* {
  padding: 0;
  margin: 0;
  border-box: box-sizing;
}

header {
  width: 100%;
  height: 50px;
  background-color: #87CEEB;
  border-bottom: 3px solid black;
}

body {
  width: 100%;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

body > main {
  flex: 1 0 auto;
}

main > section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main section > div.card-balance {
  width: 90%;
  height: 100px;
  background-color: #87CEEB;
  border-radius: 5px;
  border: 2px solid black;
  border-bottom: 3px solid black;
}

div.card-balance > p#p-balance {
  font-size: 1.5em;
  margin: 20px;
}

div.card-balance > div.card-transactions {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.card-transactions > p {
  margin: 0 10px;
}

footer {
  width: 100%;
  background-color: #87CEEB;
  border-top: 3px solid black;
}
